@layer base {
	:root {
		--primary-text: #000;
		--secondary-text: #444;
		--primary-bg: #FFF;
		--secondary-bg: #EEE;
		--opposite-bg: #1A1A1A;
		--primary-accent: #ad7f9f;
		--secondary-accent: #837DA1;
		--failure-accent: #C43F21;
		--warning-accent: #C5A922;
		--success-accent: #22C55E;

		--header-height: 75px;
		--header-item: 25px;
		--preview-header-height: 40px;
		--total-header-height: calc(var(--header-height) + var(--preview-header-height));

		--icon-size: 28px;

	}

	.dark {
		--primary-text: #FFF;
		--secondary-text: #CCC;
		--primary-bg: #161214;
		--secondary-bg: #181617;
		--opposite-bg: #efeeed;
		--primary-accent: #ad7f9f;
		--secondary-accent: #837DA1;
		--failure-accent: #C43F21;
		--warning-accent: #C5A922;
		--success-accent: #22C55E;
	}

	body {
		@apply font-body text-left text-sm text-secondary-text bg-primary-bg;
		/* background: linear-gradient(
				to top,
				transparent,
				var(--secondary-bg)
			)
			var(--primary-bg);*/
	}
	h1, h2, h3, h4, h5, h6 { @apply font-heading text-primary-text; }
	h1 { @apply text-3xl font-black underline underline-offset-4; }
	h2 { @apply text-lg font-bold; }
	a { @apply underline underline-offset-2 motion-safe:hover:underline-offset-4 transition-[text-underline-offset] duration-100 visited:text-secondary-accent hover:text-primary-accent; }
	p { @apply mt-2; }

	.main-padding { @apply max-w-screen-xl w-full mx-auto px-6 sm:px-12 md:px-24; }
}