:root {
	--studio-icon-size: 25px;
}

span[data-testid="Media"] {
	svg {
		max-width: var(--studio-icon-size);
		min-width: var(--studio-icon-size);
		width: var(--studio-icon-size);
	}
}
div[data-ui="Text"] {
	svg {
		max-width: var(--studio-icon-size);
		min-width: var(--studio-icon-size);
		width: var(--studio-icon-size);
	}
}