---
layout: layouts/main.njk
title: Work
page_scripts: [archive-projects.js]
---

<div class="main-padding padding-top flex-wrap justify-center">
	<h1 class="text-3xl font-bold mb-7 text-center">{{ title }}</h1>

	<div class="flex flex-wrap justify-center select-none">
		<a class="tag-button cursor-pointer" tag="all" title="All">
			All
		</a>
		<span>, &nbsp</span>

		{% for tag in tags %}
			<a class="tag-button cursor-pointer" tag="{{ tag.title | slug }}" title="{{ tag.title }}">
				{{ tag.title }}
			</a>
			{% if not loop.last %}
				<span>, &nbsp</span>
			{% endif %}
		{% endfor %}

	</div>

	{% from "layouts/partial/cards/project-card.njk" import projectCard %}

	<div class="flex flex-wrap justify-center -mx-6">
		{% for project in projects %}
			{{ projectCard(project) }}
		{% endfor %}
	</div>
</div>
