{# CONTACT CONTAINER #}
<a href="mailto:{{ site.about.email }}" class="inline-block w-full">
	<div class="group inline-flex flex-col mt-10 md:mt-5">
		{% for emailPart in site.about.email | emailSplitter %}
			<div class="pb-2 relative inline-block">
				<div class="relative inline-block">
					<h6 class="relative leading-xs uppercase font-black z-10 text-medium-accent after:accent-highlight">{{ emailPart }}</h6>
				</div>
			</div>
		{% endfor %}
	</div>
</a>