{#
	Video Utility used across the site
#}

{# {% macro video(url, thumbnail, title) %} #}
	<div class="video-utility relative w-full pb-16/9 mb-12">
		<div id="video-overlay" class="block cursor-pointer absolute inset-0 overflow-hidden">
			<div class="video-overlay-button relative w-full h-full flex items-center justify-center z-10 transform duration-200 hover:scale-125">
				<i class="z-10 fas fa-play-circle text-primaryColour text-4xl md:text-6xl"></i>
			</div>
				

			{% if thumbnail %}
				<div class="flex absolute inset-0 items-center justify-center bg-black">
					{# <img src="{% sanityImageURL thumbnail, 1024 %}" alt="{{ video.title }} - Video Overlay"
					class="lazy absolute inset-0 inline-block w-full h-full max-w-full max-h-full object-center object-contain"/> #}
					{% image thumbnail, "lazy absolute inset-0 inline-block w-full h-full max-w-full max-h-full object-center object-contain", video.title, "100%", [1024, 400] %}

				</div>
			{% endif %}
		</div>

		{# Handled by Eleventy and JS #}
		{% videoEmbed url %}
	</div>
{# {% endmacro %} #}