
{#
	Video Utility used across the site
	Cannot use macros with 11ty image caching as it has to be async, and macros can't be async
	Make sure to set videoProperties before including this block
#}

{# Can't return an object so set in pagedata #}
<div class="video-utility relative w-full pb-16/9 mb-12">
	{% videoEmbed videoProperties, pageData %}
</div>