/*
* Styling for sortable cards
*/

.projectsArchive-card {
	@apply rounded-md my-6 mx-0;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	position: relative;
	z-index: 10;
	display: flex;
	width: 100%;
	min-width: 18rem;
	height: 24rem/* 384px */;

	flex-grow: 1;

	transition: transform 250ms ease-in-out;

	&:nth-child(2n), &:nth-child(3n){
		flex-grow: 2.0;
	}

	&::after {
		@apply rounded transition-fast;

		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		box-shadow: -4px 8px 8px 0 rgba(0, 0, 0, 0.2), -4px 8px 20px 0 rgba(0, 0, 0, 0.19);
		opacity: 0;
	}

	@media (--sm-screen) {
		margin-left: 1.5rem;
    	margin-right: 1.5rem;
		width: 30% /* 20rem */;
    }

	&:hover {
		transform: rotate3d(1, 0, 0.05, 0.015turn);

		&::after {
			opacity: 1;
		}

		& > .content {
			&::after{
				opacity: 1;
			}

			& > img {
				transform: scale(1.03);
			}

			& > .info > h4::after {
				

				width: calc(100% + 1rem);
			}
		}
	}

	& > .content {
		@apply rounded;

		overflow: hidden;
		display: block;
		position: relative;
		height: 100%;
		width: 100%;

		/* animating opacity on pseudo element is faster than animating box-shadow */
		&::after {
			@apply transition-fast;

			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			box-shadow: inset -4px 4px 6px -2px rgba(255,255,255,0.8);
			opacity: 0;
		}

		& > img {
			@apply transition-fast;

			position: relative;
			margin: 0;
			display: inline-block;
			
			width: 100%;
			height: 100%;
			min-width: 100%;
			min-height: 100%;
			object-position: center;
			object-fit: cover;
			
			z-index: -10;
		}

		& > .info {
			position: absolute;
			bottom: 0px;
			width: 100%;
			padding: 1rem/* 16px */;

			z-index: 10;
			color: white;

			background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) 40%, rgba(0, 0, 0, 1) 95%);

			& > h4 {
				position: relative;
				width: max-content;
				font-weight: 700;

				&::after {
					@apply transition-medium;

					content: '';
					position: absolute;
					height: 3px;
					width: 0%;
					left: -1rem;
					bottom: -0.5rem;
					background: white;
				}
			}

			& > p {
				margin-top: 1.5rem;
			}	
		}
	}
}
