
{% macro homeSection(sectionName, classes, height = "100", text = "") %}
	{% set style %}
		min-height: {{ height }}vh;
		min-height: calc(var(--vh, 1vh) * {{ height }}) !important;
	{% endset %}

  <div id="{{ sectionName }}" class="{{ classes }} relative shadow flex justify-center" style="{{ style }}" sectionheight="{{ height }}">
	{% if text !== "" %}
		<div class="main-padding text-center self-center">
			{{ text | markdownify | safe }}
		</div>
	{% endif %}

  </div>
{% endmacro %}
