{#
	About Section - built using site about data.
#}
{# Required since nunjucks 'for' creates a new scope if variable doesnt already exist #}

<div class="main-padding w-full block-padding flex flex-col md:flex-row justify-center content-center">

	<div class="relative rounded-lg shadow-lg w-full overflow md:w-80 h-full">
		<div class="relative block w-full">

			{% if site.about.avatar %}
			{# <img src="{% sanityImageURL site.about.avatar %}"
				class="lazy relative inline-block w-full min-w-full h-auto"/> #}
				{% image site.about.avatar | sanityImageURL, "lazy relative inline-block w-full min-w-full max-w-none h-auto", "", "100%", [400] %}

			{% endif %}

			<div class="absolute flex flex-col justify-center bottom-0 z-10 w-full p-6">
				<div class="absolute inset-0 -mt-24 bg-gradient-to-t from-primary-bg via-primary-bg/80"></div>
				<div class="z-10 w-full">
					{# <span class="block text-primary-text leading-normal pb-6">{{ site.about.name }}</span> #}
					{# {% if section.personalInfo %}
						<a href="tel: {{ site.about.phoneNumber }}" class="block leading-relaxed">{{ site.about.phoneNumber }}</a>
						<a href="mailto: {{ site.about.email }}" class="block leading-relaxed">{{ site.about.email }}</a>
						<a href="{{ site.about.social[0].url }}" class="block leading-relaxed">{{ site.about.social[0].socialTitle }}</a>
					{% endif %} #}
					{% include "../../utilities/emailInsert.njk" %}

					
				</div>
			</div>
		</div>
	</div>

	<div class="block-padding md:m-0 md:pl-12 transition-all duration-150 max-w-prose-short xl:max-w-prose flex-grow-0">
		{% portableTextToHTML site.about.description %}

		{% if site.about.curriculumVitaeURL %}
			<a target="_blank" href="{{ site.about.curriculumVitaeURL }}" class="font-bold">{{ section.downloadCV }}</a>
		{% endif %}
	</div>
</div>