{#
	Contact Form.
#}

{% set formName %}
	{% if section.formName %}
		{{ section.formName }}
	{% else %}
		contact
	{% endif %}
{% endset %}

{% set successMessage %}
	{% if section.successMessage %}
		{{ section.successMessage }}
	{% else %}
		Message submitted successfully!
	{% endif %}
{% endset %}

<div class="relative flex align-center justify-center w-full main-padding">
	<form id="formContainer" class="w-full max-w-prose-full" name="{{ formName | slug }}" method="POST" action="https://contact.haydensoule.com/">
		<input type="hidden" name="receiveMail" value="{{ site.about.email }}" />
		<input type="hidden" name="successMessage" value="{{ successMessage }}" />

		<div hidden aria-hidden="true">
			<label>
				Don’t fill this out if you're human: 
				<input name="bot-field" />
			</label>
		</div>
		
		<div class="w-full mb-12">
			<label for="name" class="block mb-4 tracking-wider font-semibold leading-normal">Name</label>
			<input type="text" id="name" name="name" class="text-input" required/>
		</div>

		<div class="w-full mb-12">
			<label for="email" class="block mb-4 tracking-wider font-semibold leading-normal">Email</label>
			<input type="email" id="email" name="email" class="text-input" required/>
		</div>

		<div class="w-full mb-12">
			<label for="message" class="block mb-4 tracking-wider font-semibold leading-normal">Message</label>
			<textarea id="message" name="message" rows="6" maxlength="3000" class="text-input" required></textarea>
		</div>

		<div class="w-full mb-12">
			<div class="relative md:inline-block group py-4 pr-16">
				<button class="g-recaptcha relative block px-4 py-2 w-full bg-secondary-bg text-primary-text rounded-md shadow-md focus:outline-none font-semibold
					after:absolute after:inset-0 after:overflow-hidden after:bg-darker-bg after:opacity-0 hover:after:opacity-30 after:inner-shadow after:rounded-md"
					data-sitekey="6LfhR1ohAAAAABJFXPocs9NyudnQgvZNDH1DtQ3c" 
        			data-callback='onSubmit' 
       				data-action='submit'>
						<span class="relative z-10">Send</span>
				</button>
			</div>	
		</div>

		<div class="w-full mb-12">
			<span id="response" class="hidden text-green-500 font-bold"></span>
		</div>
	</form>
</div>