{#
	Contact Form.
#}

{% set formName %}
	{% if section.formName %}
		{{ section.formName }}
	{% else %}
		contact
	{% endif %}
{% endset %}

{% set successMessage %}
	{% if section.successMessage %}
		{{ section.successMessage }}
	{% else %}
		Message submitted successfully!
	{% endif %}
{% endset %}

<div class="relative flex align-center justify-center w-full main-padding">
	<form id="formContainer" class="w-full max-w-prose-full" name="{{ formName | slug }}" method="POST" action="{{ pageData.slug | slug }}/?{{ formName | slug }}=success" data-netlify="true" data-netlify-honeypot="bot-field">
		{# Needed for Netlify forms bot testing #}
		<input type="hidden" name="form-name" value="{{ formName | slug }}" />
		<div hidden aria-hidden="true">
			<label>
				Don’t fill this out if you're human: 
				<input name="bot-field" />
			</label>
		</div>
		
		<div class="w-full mb-12">
			<label for="name" class="block mb-4 tracking-wider font-semibold leading-normal">NAME</label>
			<input type="text" id="Name" name="name" class="block p-2 w-full border-2 border-primary-border bg-secondary-bg text-primary-text rounded-md
				focus:border-primary-accent focus:outline-none focus:shadow-lg focus:shadow-primary-accent focus:border-3" required/>
		</div>

		<div class="w-full mb-12">
			<label for="email" class="block mb-4 tracking-wider font-semibold leading-normal">EMAIL</label>
			<input type="email" id="Email" name="email" class="block p-2 w-full border-2 border-primary-border bg-secondary-bg text-primary-text rounded-md
				focus:border-primary-accent focus:outline-none focus:shadow-lg focus:shadow-primary-accent focus:border-3" required/>
		</div>

		<div class="w-full mb-12">
			<label for="message" class="block mb-4 tracking-wider font-semibold leading-normal">MESSAGE</label>
			<textarea id="Message" name="message" class="block p-2 w-full border-2 border-primary-border bg-secondary-bg text-primary-text rounded-md
				focus:border-primary-accent focus:outline-none focus:shadow-lg focus:shadow-primary-accent focus:border-3" rows="6" maxlength="3000" required></textarea>
		</div>

		<div class="w-full mb-12">
			<button type="submit" class="block border-primary-border border-2 bg-black text-white px-6 tracking-wider font-semibold leading-loose hover:bg-primary-bg hover:text-black">Send</button>
		</div>

		<div class="w-full mb-12">
			<span id="success" class="hidden text-green-500 font-bold">{{ successMessage }}</span>
		</div>

	</form>
</div>