{#
	Contact Form.
#}

<div class="relative flex align-center justify-center w-full main-padding">
	<form id="formContainer" name="Contact" class="w-full max-w-prose-full" netlify>
		
		<div class="w-full mb-12">
			<label for="Name" class="block mb-4 tracking-wider font-semibold leading-normal">NAME</label>
			<input type="text" id="Name" name="Name" class="block p-2 w-full border border-black" required>
		</div>

		<div class="w-full mb-12">
			<label for="Email" class="block mb-4 tracking-wider font-semibold leading-normal">EMAIL</label>
			<input type="email" id="Email" i="Email" class="block p-2 w-full border border-black" required>
		</div>

		<div class="w-full mb-12">
			<label for="Message" class="block mb-4 tracking-wider font-semibold leading-normal">MESSAGE</label>
			<textarea id="Message" name="Message" class="block p-2 w-full border border-black" rows="6" maxlength="3000" required></textarea>
		</div>

		<div class="w-full mb-12">
			<button type="submit" class="block bg-black text-white px-6 tracking-wider font-semibold leading-loose">Send</button>
		</div>

	</form>
</div>