{#
	Interactive Section
#}
{% set sectionHeight %}
	{% if (topBlockMargin) %}
		70
	{% else %}
		60
	{% endif %}
{% endset %}

<div class="section-container {{ section.interactiveScript }} {{ topBlockMargin }}" style="--section-height:{{sectionHeight}}">
	<div class="script-container {{ section.interactiveScript }}" data-colour="var(--primary-bg)"  data-script="{{ section.interactiveScript }}">
		{# Initialized with Javascript #}
	</div>
</div>