<div class="section-container {{ section.interactiveScript }}" style="--section-height:60">
	<div class="script-container {{ section.interactiveScript }}">
		{# Initialized with Javascript #}
	</div>
</div>