{#
	Item Card Block.
#}
{# Required since nunjucks 'for' createsa new scope if variable doesnt already exist #}
{% set pageLink %}
	{% for linkedPage in pages %}
		{% if section.linkID == linkedPage._id %}
			{{ linkedPage.slug }}
		{% endif %}
	{% endfor %}
{% endset %}

{# Set Tailwinds classes #}
{% set gradient %}
	{% if sectionID % 2 == 0 %}
		md:my-0 md:-mr-32 md:bg-gradient-to-r from-primaryColour via-primaryColour
	{% else %}
		md:-ml-32 md:bg-gradient-to-l from-primaryColour via-primaryColour
	{% endif %}
{% endset %}

{% set alignment %}
	{% if sectionID % 2 == 1 %}
		md:right-0 md:text-right
	{% endif %}
{% endset %}

<div class="main-padding self-center w-full">
	<a href="{{ pageLink | slug }}" class="rounded-lg my-12 shadow-lg relative flex w-full max-h-96 md:max-h-80">
		<div class="rounded-lg relative block w-full overflow-hidden">

			<img src="{% imageUrlFor section.image, 800 %}" alt="{{ section.heading }} - Card Background"
				class="lazy relative inline-block w-full h-full min-w-full min-h-full object-center object-cover"/>

			<div class="absolute flex flex-col justify-center bottom-0 z-10 w-full px-8 py-12 md:h-full md:w-2/5 md:min-w-md md:px-16 md:py-0 {{ alignment }}">
				<div class="absolute inset-0 bg-gradient-to-t -mt-16 {{ gradient }}"></div>

				<p class="z-10 font-body text-3xl font-bold leading-loose">{{ section.heading }}</p>
				<span class="z-10">{{ section.blurb  | sanityBlocksToMarkdown | markdownify | safe }}</span>

			</div>
		</div>
	</a>
</div>