{#
	Projects Archive Block
#}

{% if section.allTags %}
	{% set filterTags = projects.tags %}
{% else %}
	{% set filterTags = section.tags %}
{% endif %}

<div data-filterable="{{ section.filterTags }}" name="projects-archive" class="main-padding block-padding flex-wrap justify-center w-full">
	<div class="flex flex-wrap justify-center select-none">

		{% if (section.filterTags) %}
			<button class="tag-button std-round" data-tag="all" title="All">
				All
			</button>

			{% for tag in filterTags %}
				<button class="tag-button std-round" data-tag="{{ tag.title | slug }}" title="Sort for- {{ tag.title }}">
					{{ tag.title }}
				</button>
			{% endfor %}
		{% endif %}

	</div>

	<div class="flex flex-wrap justify-center sm:-mx-6">
		{# 11ty only returns strings from shortcodes, so the data is added to the page data, hopefully this changes in the future #}
		{% set activeProjects %}{% getMatchingProjects projects.work, filterTags, pageData %}{% endset %}

		{% asyncEach project in pageData.activeProjects %}
			{% include "../cards/projectsArchive-card.njk" %}
		{% endeach %}
	</div>
</div>
