{#
	Projects Archive Block
#}

{% if section.allTags %}
	{% set filterTags = projects.tags %}
{% else %}
	{% set filterTags = section.tags %}
{% endif %}

<div data-filterable="{{ section.filterTags }}" class="main-padding flex-wrap justify-center">
	<div class="flex flex-wrap justify-center select-none">

		{% if (section.filterTags) %}
			<a class="tag-button cursor-pointer" data-tag="all" title="All">
				All
			</a>
			<span>, &nbsp</span>

			{% for tag in filterTags %}
				<a class="tag-button cursor-pointer" data-tag="{{ tag.title | slug }}" title="{{ tag.title }}">
					{{ tag.title }}
				</a>
				{% if not loop.last %}
					<span>, &nbsp</span>
				{% endif %}
			{% endfor %}
		{% endif %}

	</div>

	<div class="flex flex-wrap justify-center sm:-mx-6">
		{% for project in projects.work %}
			{% set includeProject %}{% includeProjects filterTags, project.tags %}{% endset %}
			
			{% if includeProject == "true" %}
				{% include "../cards/projectsArchive-card.njk" %}
			{%endif%}
		{% endfor %}
	</div>
</div>
