{#
	Projects Archive Block
#}

<div class="main-padding flex-wrap justify-center">
	<div class="flex flex-wrap justify-center select-none">
		<a class="tag-button cursor-pointer" tag="all" title="All">
			All
		</a>
		<span>, &nbsp</span>

		{% for tag in projects.tags %}
			<a class="tag-button cursor-pointer" tag="{{ tag.title | slug }}" title="{{ tag.title }}">
				{{ tag.title }}
			</a>
			{% if not loop.last %}
				<span>, &nbsp</span>
			{% endif %}
		{% endfor %}

	</div>

	<div class="flex flex-wrap justify-center sm:-mx-6">
		{% for project in projects.work %}
			{% include "../cards/project-card.njk" %}
		{% endfor %}
	</div>
</div>
