{#
	Simple Hero section.
#}

<div class="relative flex overflow-hidden w-full sixty-height-section {{ topBlockMargin }}">
	{% image section.heroImage, "lazy relative inline-block w-full h-full min-w-full min-h-full object-center object-cover", "", "100vw", [1280] %}

	{# <img src="{% sanityImageURL section.heroImage, 1280 %}" class="lazy relative inline-block w-full h-full min-w-full min-h-full object-center object-cover"/> #}
</div>