{#
	Basic Text Section Block.
#}

<div class="text-type-container {{ section.textType }}">
	<div class="text-container main-padding self-center py-16">
		{{ section.text | sanityBlocksToMarkdown | markdownify | safe }}
	</div>
</div>
