{#
	Default Sanity page template.
	Just imports blocks.
#}

{# {% from "layouts/utilities/_blocks.njk" import blocks with context %}
{{ blocks(blocks=pageData.content.blocks) }} #}

{% set blocks = pageData.content.blocks %}
{% if pageData.content.titleSection %}
{{ pageData.content.titleSection | debugger }}

	{% include ("layouts/components/titles/" + pageData.content.titleSection + ".njk") %}
{% endif %}
{% include ("layouts/utilities/_blocks.njk") %}
