@layer base {
	h1 {
		@apply text-2xl font-extrabold text-grey-900;
	}
	h2 {
		@apply text-xl font-light text-grey-900;
	}

	.main-padding {
		@apply max-w-screen-xl mx-auto px-6 sm:px-24;
		transition: padding 0.5s ease-out;
	}

	.transition-fast {
		transition: all 250ms ease-out;
	}
	.transition-medium {
		transition: all 500ms ease-in-out;
	}
}

.emoji {
	height: 1.2em;
	display: inline
}

.screen-height-section {
	left: 0;
	right: 0;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
}

canvas {
	min-width: 100vw;
	position: absolute;
	display: block;
	z-index: 0;
}