:root {
	--sm-screen: 480px;
	--md-screen: 768px;
	--lg-screen: 976px;
	--xl-screen: 1440px;

	--block-padding: 1.5rem;

	--primary-bg: #FFFFFF;
	--primary-bg-translucent: #FFFFFFDD;
	--opposite-bg: #000000;
	--primary-text: #000000;
	--primary-border: #000000;

	--secondary-bg: #FFFFFF;
	--accent: #E0A142;
}

.light {

}

.dark {
	--primary-bg: #222222;
	--primary-bg-translucent: #222222DD;
	--opposite-bg: #FFFFFF;
	--primary-text: #EEEEEE;
	--primary-border: #EEEEEE;

	--secondary-bg: #121212;
	--accent: #F1B253;

}

@custom-media --sm-screen (min-width: 480px);
@custom-media --max-sm-screen (max-width: 768px);
@custom-media --md-screen (min-width: 768px);
@custom-media --lg-screen (min-width: 976px);
@custom-media --xl-screen (min-width: 1440px);