{% from "layouts/components/blocks/_block.njk" import block with context %}

{% macro blocks(blocks) %}
	{% if blocks | length > 0 %}
		{% set sectionID = 0 %}
		{% for section in blocks %}
			{# {{ block(section._type, specialClasses="", properties=section) }} #}
			<div id="{{ section._type }}-{{ sectionID }}" class="{{ section._type }} {{ specialClasses }} relative flex" style="{{ style }}">
				{% include ("layouts/components/blocks/" + section._type + ".njk") %}
			</div>

			{% set sectionID = sectionID + 1 %}
		{% endfor %}
	{% endif %}
{% endmacro %}