---
pageTitle: {{site.title}}
layout: layouts/main.njk
page_scripts: [js/home.js]
page_libraries: [assets/js/libraries/anime.min.js, assets/js/libraries/three.min.js]
permalink: index.html
---

{# The glsl files need to be inline for THREE.js, but using nunjucks includes makes for easier editing, could also pass these through their own minify filter in the future #}
<script type="x-shader/x-vertex" id="vertexShader">
	{% include 'src/_includes/shaders/vert-Abstract.glsl' %}        
</script>

<script type="x-shader/x-fragment" id="fragmentShader">
	{% include 'src/_includes/shaders/frag-Abstract.glsl' %}       
</script>

<div id="container" class="pt-12">
	{% from "./partial/home-section.njk" import homeSection %}

	{{ homeSection("Section-1", "bg-accentColour cursor-pointer", "60") }}
	{{ homeSection("textSection-1", "z-10", "50",
		"## This is some text on the home page w0w.
		**Bold text too**

		:)"
	) }}
	{{ homeSection("Section-2", "bg-accentColour", "100") }}
	{{ homeSection("textSection-1", "z-10", "20",
		":/"
	) }}
</div>




