---
permalink: false
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{% block pageHeader %}
			<title>{{ site.title }}</title>
			<meta name="description" content="Hayden Soule's portfolio site.">
		{% endblock %}

		<link rel="stylesheet" href="/assets/css/style.css">
		<script src="/assets/js/main.js" language="JavaScript" type="text/javascript"></script>	

	</head>
	<body>
		<main id="pageContent" class="h-screen bg-white">		
			{% include './components/headers/header.njk' %}
			{{ content | safe }}
		</main>
	</body>
	<footer>
		{# <script src="/assets/js/main.js" type="text/javascript"></script> #}
		<script src="/assets/js/runtime.js" type="text/javascript"></script>
	</footer>
</html>