---
permalink: false
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{% block customHeader %}
			<title>{{ site.title }}</title>
			<meta name="description" content="Hayden Soule's portfolio site.">
		{% endblock %}

		<link rel="stylesheet" href="/assets/css/style.css">
		<script src="/assets/js/main.js" language="JavaScript" type="text/javascript"></script>	

	</head>
	<body>
		<main id="pageContent" class="h-screen bg-white">		
			{% include './components/headers/header.njk' %}
			{{ content | safe }}
		</main>
	</body>
	<footer>
		{# Load JS for each page, defined on page template. Could also do this with blocks #}
		{% for page_library in page_libraries %}
			<script src="/assets/js/libraries/{{ page_library }}" type="text/javascript"></script>
		{% endfor %}

		{% for page_script in page_scripts %}
			<script src="/assets/js/pages/{{ page_script }}" type="text/javascript"></script>
		{% endfor %}
	</footer>
</html>