---
layout: layouts/main.njk
title: Work
page_scripts: [js/workSort.js]
---

<div class="main-padding">

<h1 class="content-centre">{{ title }}</h1>
<div class="flex justify-center flex-wrap">
	 <a class="tag-button" tag="all">
        All
		{# {{ length }} #}
    </a>, &nbsp

    {% for name, length in collections.tagList %}
		<a class="tag-button" tag="{{ name }}">
			{{ name | capitalize }}
			{# {{ length }} #}
		</a>

		{% if not loop.last %}
			, &nbsp
		{% endif %}
    {% endfor %}

</div>
	{# <h3>Projects: </h3>#}

<div class="card-holder">
	{% for post in collections.projects %}
		<div class="project-card" tags="{{ post.data.tags }}">
			<div class="project-card-info shadow">
				<a href="{{ post.url }}">{{ post.data.title }}</a>
			</div>
		</div>
	{% endfor %}
</div>

</div>