---
layout: layouts/main.njk
title: Work
page_scripts: [js/workSort.js]
---
<div class="main-padding padding-top">
	<h1 class="text-3xl font-bold mb-7 text-center">{{ title }}</h1>

	<div class="flex justify-center flex-wrap select-none">
		<a class="tag-button cursor-pointer" tag="all">
			all
		</a>
		<span>, &nbsp</span>

		{% for name, length in collections.tagList %}
			<a class="tag-button cursor-pointer" tag="{{ name }}">
				{{ name }}
			</a>
			{% if not loop.last %}
				<span>, &nbsp</span>
			{% endif %}

		{# {{ length }} #}
		{% endfor %}

	</div>
		{# <h3>Projects: </h3>#}

	{% from "./partial/project-card.njk" import projectCard %}

	<div class="flex flex-wrap justify-center -mx-6">
		{% for post in collections.projects %}
			{{ projectCard(post) }}
		{% endfor %}
	</div>
</div>
