---
layout: layouts/main.njk
title: Work
page_scripts: [js/workSort.js]
---
<div class="main-padding py-24 md:py-36">
	<h1 class="text-3xl font-bold mb-7 text-center">{{ title }}</h1>

	<div class="flex justify-center flex-wrap">
		<a class="tag-button cursor-pointer" tag="all">
			all
		</a>
		, &nbsp

		{% for name, length in collections.tagList %}
			<a class="tag-button cursor-pointer" tag="{{ name }}">
				{{ name }}
			</a>
			{% if not loop.last %}
				, &nbsp
			{% endif %}

		{# {{ length }} #}
		{% endfor %}

	</div>
		{# <h3>Projects: </h3>#}

	{% from "./partial/project-card.njk" import projectCard %}

	<div class="flex flex-wrap -mx-2">
		{% for post in collections.projects %}
			{{ projectCard(post) }}
		{% endfor %}
	</div>
</div>
