/*
* Additional styling for header menu button
*/

:root {
	--header-item-height: 25px;
	--header-padding: 25px;
	--header-total-height: 75px;
}

#header {
	&.menu-open {
		& > #menu-container {
			@apply pointer-events-auto !visible;

			& > #menu {
				@apply opacity-100;
			}
		} 
		& > #menu-container:after {
			@apply opacity-70;
		}
	}
}

