---
pageTitle: {{site.title}}
layout: layouts/main.njk
page_scripts: [home.js]
page_libraries: [anime.min.js, three.min.js]
permalink: index.html
---

{# The glsl files need to be inline for THREE.js, but using nunjucks includes makes for easier editing, could also pass these through their own minify filter in the future #}
<script type="x-shader/x-vertex" id="vertexShader">
	{% include 'src/_includes/shaders/vert-Abstract.glsl' %}        
</script>

<script type="x-shader/x-fragment" id="fragmentShader">
	{% include 'src/_includes/shaders/frag-Abstract.glsl' %}       
</script>

<div id="container" class="pt-12">
	{% from "layouts/partial/blocks/_block.njk" import block %}

	{{ block("interactive-section", specialClasses="bg-secondaryColour cursor-pointer",
		properties={height:"60", script:"blobShader"}) }}

	{{ block("text-section", specialClasses="block-padding shadow",
		properties={text:"Howdy y'all this is my block structure."}) }}

	{{ block("interactive-section", specialClasses="bg-secondaryColour cursor-pointer",
		properties={height:"60", script:""}) }}

	{{ block("text-section", specialClasses="block-padding shadow",
		properties={text:
			"## This is some text on the home page w0w.
			**Bold text too**

			:)"
		})
	}}

</div>




