---
pageTitle: {{site.title}}
layout: layouts/main.njk
page_scripts: [home.js]
page_libraries: [anime.min.js, three.min.js]
permalink: index.html
---

<div id="container">
	{% from "layouts/components/blocks/_block.njk" import block %}

	{{ block("interactive-section", specialClasses="bg-secondaryColour cursor-pointer",
		properties={height:"60", script:"blob-shader"}) }}

	{{ block("text-section", specialClasses="block-padding shadow",
		properties={text:"Howdy y'all this is my block structure."}) }}

	{{ block("interactive-section", specialClasses="bg-secondaryColour cursor-pointer",
		properties={height:"60", script:""}) }}

	{{ block("text-section", specialClasses="block-padding shadow",
		properties={text:
			"## This is some text on the home page w0w.
			**Bold text too**

			:)"
		})
	}}

</div>




