<div class="header shadow">
	<div class="filler"></div>
	<div class="main-padding header-padding ">
		<a class="header-title" href="/"><h1 class="header-title text-depth" id="header-title" title='{{ site.title }}'>{{ site.title }}</h1></a>
		<a id="navigation" class="header-title" href="/work">Work</a>	
	</div>
	<div id="scrollProgressBar"></div>
	
</div>
