<div class="main-padding">
	<a class="header-title" href="/"><h1 class="header-title text-depth" id="header-title" title='{{ site.title }}'>{{ site.title }}</h1></a>
	<a id="navigation" href="/"></a>
</div>