

<div class="bg-primaryColour header shadow fixed z-20 min-w-full">

	<div class="main-padding py-6">
		<a class="inline" href="/"><h1 class="inline pr-8 text-xl font-bold">{{ site.title }}</h1></a>
		<a class="inline hover:underline" href="/work">Work</a>	
	</div>

	<div id="scrollProgressBar" class="bg-secondaryColour h-0.5 w-0"></div>
</div>
