{#
	Main header component used across the site.
#}

<div id="header" class="bg-primaryColour header shadow fixed z-20 min-w-full">

	<div class="main-padding py-6">
		<a id="siteTitle" class="inline-block" href="/"><h1 class="inline-block pr-8 text-xl font-bold">{{ site.siteSettings.title }}</h1></a>
		<div id="siteNavigation" class="inline-block">
			{% for navItem in site.navigation.primaryNavigation %}
				<a class="inline-block hover:underline" href="/{{ navItem.slug | slug }}">{{ navItem.title }}</a>	
			{% endfor %}
			
		</div>
	</div>

	<div id="scrollProgressBar" class="h-0.5 w-0"></div>
</div>
<div class="py-10"></div> {# Temporary padding fix #}