{#
	Main header component used across the site.
#}

<header id="header" class="menu-open">
	<div class="header-sticky fixed top-0 z-50 min-w-full bg-secondary-bg shadow-lg">
		<div class="header-container main-padding flex flex-row justify-between overflow-hidden w-screen pt-header pb-header">
			<a class="site-title font-bold whitespace-nowrap" href="/">
				<svg xmlns="http://www.w3.org/2000/svg"
					class="svg-theme-colour"
					width="250px" height="25px" viewBox="0 0 250 25">
					<text x="0" y="20" 
							fill="white"
							font-family="'Montserrat', sans-serif"
							font-weight="800"
							font-size="25">
						Soulely Hayden
					</text>
				</svg>
			</a>
			<div class="header-menu-button block z-10 cursor-pointer"><div class="menu-bar"></div></div>	
		</div>

		<div class="absolute left-0 right-0 bottom-0 mt-0.5 h-0.5 bg-primary-border"></div>
		<div id="scrollProgressBar" class="absolute left-0 bottom-0 mt-0.5 h-0.5 bg-gradient-to-r from-primary-accent to-secondary-accent"></div>
	</div>

	<div class="header-padding"></div>

	{% include ("layouts/components/headers/menu.njk") %}
</header>
