{#
	Menu block separated from header for legibility
#}

<div id="menu-container" class="fixed z-40 min-w-full min-h-full pointer-events-none">
	<div id="menu-background" class="fixed min-w-full min-h-full bg-primary-accent transition-all duration-300 opacity-0"></div>

	<div id="menu" class="transition-spacing duration-500 max-w-screen-xl mx-auto px-0 md:px-24 flex md:block-padding h-screen md:h-auto opacity-0">
		<div class="flex flex-col z-10 w-full overflow-hidden bg-primary-bg md:flex-row md:rounded-xl md:shadow-lg">
			{# IDENTITY CONTAINER #}
			<div id="identity-container" class="transition-spacing duration-500 flex border-b-2 bg-secondary-bg px-6 py-6 sm:px-12 md:px-6 lg:px-12 md:border-b-0 md:border-r-2 border-secondary-accent">
				{% image site.siteSettings.signature , "lazy relative m-0 filter invert h-auto w-16 md:w-24", 'Artist Signature', "100px", [100] %}
			</div>

			{# RIGHT SIDE WRAPPER #}
			<div class="relative transition-spacing duration-500 flex flex-col p-6 bg-gradient-to-b md:bg-gradient-to-r from-secondary-bg via-primary-bg to-primary-bg w-full px-6 sm:px-12">
				{# NAVIGATION CONTAINER #}
				<div class="relative flex md:inline-block flex-col md:flex-row justify-start items-start">
					{% for navItem in site.navigation.primaryNavigation %}
						<div class="relative md:inline-block group mb-1 mr-10 last:mr-0">
							<h6><a class="duration-200 group-hover:text-transparent
							bg-clip-text bg-gradient-to-r from-primary-accent to-secondary-accent" href="/{{ navItem.slug | slug }}">{{ navItem.title }}
							<div class="h-0.5 bg-primary-border duration-200 w-0 group-hover:w-full"></div></a></h6>
						</div>	
					{% endfor %}
				</div>

				{# CONTACT CONTAINER #}
				<a href="mailto:hayden@haydensoule.com" class="inline-block">
					<div class="group inline-flex flex-col mt-10 md:mt-5">
						{# {% set emailHalves %}
							{% emailSplitter site.about.email %}
						{% endset %} #}
						{% for emailPart in site.about.email | emailSplitter %}
							<div class="relative inline-block">
								<div class="relative inline-block">
									<h5 class="uppercase font-black">{{ emailPart }}
										<div class="h-5 -mt-5 ml-2 bg-secondary-accent w-full transition-all duration-200 group-hover:ml-4 group-hover:bg-primary-accent"></div>
									</h5>
								</div>
							</div>
						{% endfor %}
					</div>
				</a>
			</div>

			<div class="md:hidden">
				{% set iconColour %}
				{% endset %}
				{% include ("layouts/components/footers/menu-footer.njk") %}
			</div>
		</div>

		<div class="fixed bottom-0 z-10 hidden md:block">
			{% set iconColour %}
			{% endset %}
			{% include ("layouts/components/footers/menu-footer.njk") %}
		</div>
	</div>
</div>