@import "tailwindcss/base"; /* tailwindcss recomends \@import over \@tailwind when using other \@import statements */
@import "./style.base.css";
@import-glob "./partial/**/*.css";


@tailwind components;
@tailwind utilities;

.tag-button {
	display: inline-flex;
  	flex-direction: column;
	font-weight: 400;
}

.tag-button:hover {
	font-weight: 900!important;
}

.tag-button::after {
	content: attr(title);
  	content: attr(title) / "";
	height: 0;
	visibility: hidden;
	overflow: hidden;
	user-select: none;
	pointer-events: none;
	font-weight: 900;

	@media speech {
    	display: none;
  	}
}