

<div class="sortable-card" test="test-3" name="sortable-card" tags="{% for tag in project.tags %}{{ tag | slug }}{% if not loop.last %},{% endif %}{% endfor %}">
	<a class="content" href="{{ site.navigation.archivePageSlug | slug }}/{{ project.title | slug }}" >
		<img src="{% imageUrlFor project.thumbnail %}" alt="{{ project.title }} Project Thumbnail" class="lazy"/>
		<div class="info">
			<h4>{{ project.title }}</h4>
			<p>{{ project.blurb }}</p>
		</div>
	</a>
</div>

