{% set cardTags %}
	{% for tag in project.tags %}
		{{ tag.title | slug }}
		{% if not loop.last %},{% endif %}
	{% endfor %}
{% endset %}

<a href="/{{ site.navigation.archivePageSlug | slug }}/{{ project.slug | slug }}" 
class="projectsArchive-card" data-tags="{{ cardTags }}">
	<div class="content">
		{# <img src="{% sanityImageURL project.thumbnail %}" alt="{{ project.title }} Project Thumbnail" class="lazy"/> #}
		{% image project.thumbnail, "lazy", project.title, "100%", [250] %}

		<div class="info">
			<h4>{{ project.title }}</h4>
			<p>{{ project.blurb }}</p>
		</div>
	</div>
</a>

