---
pagination:
  data: pages
  alias: pageData
  size: 1
  addAllPagesToCollections: true
layout: layouts/main.njk
page_scripts: ['archive-projects.js']
permalink: "{{ pageData.slug | slug }}/index.html"
---

{#
	Root for all dynamic Sanity pages
#}

{% set scripts = collections.pages %}

<article id="{{ pageData.title | slug }}">
	{{ scripts | debugger }}
	{% include "./_includes/layouts/templates/" + pageData.template + ".njk" %}
</article>