---
pagination:
  data: pages
  alias: pageData
  size: 1
  addAllPagesToCollections: true
layout: layouts/main.njk
tags: pages

permalink: "{{ pageData.slug | slug }}/index.html"
---

{#
	Root for all dynamic Sanity pages
#}

{# {% set myData = collections.pages | getCollectionItem(page) %} #}
{# {{ collections.posts | getCollectionItem(page) }} #}
{# {{ page.url = }} #}
{# {% endaddScripts %} #}

<article id="{{ pageData.title | slug }}">
	{# {{ myData.data.page_scripts | debugger }} #}
	{% extends "./_includes/layouts/templates/" + pageData.template + ".njk" %}
</article>