---
layout: layouts/pages/projects/single-project
tags: 
	- projects
pagination:
  data: projects.work
  alias: project
  size: 1
  addAllPagesToCollections: true
permalink: "/{{ site.navigation.archivePageSlug | slug }}/{{ project.title | slug }}/index.html"
---