---
pagination:
  data: projects.work
  alias: project
  size: 1
  addAllPagesToCollections: true
layout: layouts/main.njk
tags: 
	- projects
permalink: "/{{ site.navigation.archivePageSlug | slug }}/{{ project.slug | slug }}/index.html"
---

<article id="{{ project.title | slug }}">
	{% extends "./_includes/layouts/templates/single-project.njk" %}
</article>