/** It would be great if there was a way to declare darkMode utilities seperately in tailwind.config; but that is not supported as of yet. */

/** BOX SHADOW */
/* offset-x | offset-y | blur-radius | spread-radius | color */

@layer utilities {
	.dark {
		.shadow-inner {
			box-shadow: inset 0 14px 12px -16px rgb(0 0 0 / 0.7), inset 0 -14px 12px -16px rgb(0 0 0 / 0.8);
		}
		.shadow-lg {
			box-shadow: 0 0px 8px -2px rgba(0,0,0,0.9), 0 0px 8px -1px rgba(0,0,0,.06);
		}
	}

	.shadow-inner {
		box-shadow: inset 0 8px 12px -16px rgb(0 0 0 / 0.5), inset 0 -8px 12px -16px rgb(0 0 0 / 0.5);
	}

	.shadow-lg {
		box-shadow: 0 0px 8px -6px rgba(0,0,0,0.6), 0 0px 6px -1px rgba(0,0,0,.04);
	}


	section {
		@apply motion-safe:opacity-0 motion-safe:translate-y-[10vh] motion-safe:invisible motion-safe:transition-all motion-safe:duration-1000 motion-safe:ease-out will-change-auto;
	}
	section.is-visible {
		@apply motion-safe:opacity-100 motion-safe:transform-none motion-safe:visible;
	}
}