@layer base {
	:root {
		--primary-text: #000;
		--secondary-text: #444;
		--primary-text-transparent: #00000040;


		--primary-bg: #FFFFFF;
		--secondary-bg: #d6d3d3;

		--primary-accent: #ad7f9f;
		--secondary-accent: #6d6897;

		--failure-accent: #C43F21;
		--warning-accent: #C5A922;
		--success-accent: #22C55E;

		--header-height: 75px;
		--header-item: 25px;
		--icon-size: 28px;
	}

	.dark {
		--primary-text: #FFF;
		--primary-text-transparent: #ffffff40;

		--secondary-text: #CCC;

		--primary-bg: #101013;
		--secondary-bg: #202020;

		--primary-accent: #ad7f9f;
		--secondary-accent: #6e6597;
	}

	body {
		@apply font-body text-left text-sm text-secondary-text bg-primary-bg;
		
	}

	.background {
		background: linear-gradient(-45deg, var(--secondary-accent), var(--primary-accent));
		background-size: 400% 400%;
		animation: gradient 15s ease infinite;
	} 

	h1, h2, h3, h4, h5, h6 { @apply font-heading text-primary-text mt-2 leading-relaxed; }
	h1 { @apply text-xl font-black underline underline-offset-4; }
	h2 { @apply text-lg font-bold; }
	p { @apply mt-2; }
	a { @apply cursor-pointer; }

	@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

	.main-padding { @apply max-w-screen-xl w-full mx-auto px-6 sm:px-12 md:px-24; }
}