@layer base {
	:root {
		--primary-text: #000;
		--secondary-text: #444;

		--primary-bg: 255 255 255;
		--secondary-bg: 214 211 211;

		--primary-accent: 173 127 159;
		--secondary-accent: 109 104 151;

		--failure-accent: 196 63 33;
		--warning-accent: 197 169 34;
		--success-accent: 34 197 94;

		--header-height: 70px;
		--header-height-max: 80px;
		--header-item: 25px;
		--icon-size: 28px;
		--bottom-spacing: 120px;
	}

	.dark {
		--primary-text: 255 255 255;
		--secondary-text: 204 204 204;

		--primary-bg: 16 16 19;
		--secondary-bg: 32 32 32;
	}

	body {
		@apply font-body text-left text-sm text-fg-secondary bg-bg-primary;
	}

	.background {
		background: linear-gradient(-45deg, rgb(var(--secondary-accent)), rgb(var(--primary-accent)));
		background-size: 400% 400%;
		animation: gradient 15s ease infinite;
	} 

	h1, h2, h3, h4, h5, h6 { @apply font-heading text-fg-primary mt-2 leading-relaxed; }
	h1 { @apply text-xl font-black underline underline-offset-4; }
	h2 { @apply text-lg font-bold; }
	p { @apply mt-2; }
	a { @apply cursor-pointer opacity-70 hover:opacity-100 transition-opacity duration-300 hover:duration-100; }

	@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

	.main-padding { @apply max-w-screen-xl w-full mx-auto px-6 sm:px-12 md:px-24; }
	.loaded { @apply !opacity-50; }

	canvas {
		display: block;
		z-index: 0;
		right: 0;
		left: 0;

		/*image-rendering: crisp-edges;
		image-rendering: -webkit-optimize-contrast;
		image-rendering: pixelated;*/
		image-rendering: smooth;
		transform-origin: top left;
	}
}